.employee-app .register {
  width: 100vw;
  height: 100vh;
  color: white;
  background: linear-gradient(to left top, #1f3765, #7bc043);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee-app .container {
  width: 450px;
  min-height: 400px;
  background: #564c4c;
  padding: 20px;
  border-radius: 10px;
  background: rgba(171, 168, 168, 0.073);
  box-shadow: 3px 4px 10px black;
}

.employee-app .title {
  text-align: center;
  font-size: 20px;
  color: aquamarine;
  margin: 10px;
}

.employee-app .names {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.employee-app .forms {
  margin: 20px 10px;
}

.employee-app .form label {
  font-size: 18px;
  font-weight: bold;
}

.employee-app .form input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin-bottom: 13px;
}

.employee-app .form button {
  padding: 10px;
  width: 60%;
  margin-left: 20%;
  border-radius: 10px;
  border: none;
  background-color: aquamarine;
  font-size: 17px;
}

.employee-app .form button:hover {
  background: rgb(4, 32, 12);
  color: whitesmoke;
}

.employee-app .form input:hover {
  outline: 2px solid black;
}
